[Unit]
Description = run the HomeKit heatnglo adapter
After=syslog.target network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/homekit-heatnglo/js/node_modules/hap-nodejs
ExecStart=/usr/bin/node Core.js
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy = multi-user.target

